<article class="step-article">
  <h1 class="title">FINANCE</h1>
  <p class="step-text"><i>
    Startup costs, first employees, and permits and licenses often require initial funds. Here are some resources to help finance your business.
  </i></p>    
  <ul>
    <li>
      <h3>Craft a Financial Plan</h3>
      <p class="step-text">
        An important part of your business plan is to state your current financial status and provide projections of where the money will come from and where it will go.
      </p>
      <p class="step-text">
        Identify start-up costs and estimate expenses. Utilize this <a href="https://www.sba.gov/business-guide/plan/calculate-startup-costs-small-business">SBA template</a> for assistance. This will be helpful if you plan to seek investment and support.
      </p>
    </li>
    <li>
      <h3>Identify Funding Sources</h3>
      <p class="step-text">
        Self-funding can be a low-cost, yet high-risk, approach to sourcing your start-up costs. Whether using personal savings, access to a retirement account, or investment from family and friends, self-funding can be affordable, limiting the fees paid on funds “borrowed” but causes you to assume all risk of loss.
      </p>
      <p class="step-text">
        Venture capitalist investment can provide funding in return for giving equity to investors or allowing for profit sharing. Connect with <a href="http://gainnet.org/">GAIN</a> for access to local investors, mentors and resources.
      </p>
      <p class="step-text">
        Crowdfunding can help you raise small amounts of money per person from a large group of people who do not expect a return on their investment. While crowdfunding platforms may charge fees or a percent of your profits gained, it is typically a low-risk approach as a business owner.
      </p>
      <p class="step-text">
        Obtain a small business loan from a traditional institution. <a href="https://www.sba.gov/lendermatch"></a> Lender Match can help you find local lenders approved by the SBA and who offer SBA-guaranteed loans.
      </p>
    </li>
    <li>
      <h3>Evaluate Your Eligibility for Assistance & Incentive Programs</h3>
      <p class="step-text">
        The City of Gainesville provides several <a href="http://www.cityofgainesville.org/EconomicDevelopmentandInnovation/BusinessIncentives.aspx">incentives</a> to defray costs and maximize business growth.
      </p>
      <p class="step-text">
        The City of Gainesville has adopted the <a href="http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/SmallServiceDisabledVeteranBusinessProgram.aspx">Small and Service-Disabled Veteran Business Program</a> to provide opportunities for qualified local small businesses to participate on a nondiscriminatory basis in all aspects of the City's contracting and procurement programs as well as providing other needed business services.
      </p>
      <p class="step-text">
        The Florida Department of Economic Opportunity offers a variety of <a href="http://floridajobs.org/smallbusinessprograms">programs</a> including loans, loan guarantees and tax credits dependent upon your industry, personal demographics or geographic location.
      </p>
      <p class="step-text">
        The SBA partners with private investors to capitalize professionally-managed investment funds (known as "SBICs") that finance small businesses (https://www.sba.gov/sbic).
      </p>
    </li>
  </ul>
</article>