<div class="container-landing">
    <article>
      <h1>Gainesville is Open For Business!</h1>
      <p>The Department of Doing is standing by to help you research, open, and grow your business in Gainesville, Fla.</p>
      <h2>Getting Started with the Right Tools and Support</h2>
      <p>The Department of Doing acts as a business coach, identifying resources and expertise needed about the local market, available locations and spaces, and how to navigate the upcoming set-up approval processes.</p>
      <h2>Navigating Setup and Processes</h2>
      <p>The Department of Doing acts as a navigator, guiding customers through the City processes including a new tailored First Step meeting, to help understand relevant planning, zoning, and permitting constraints.</p>
      <h2>Playing Many Roles and Balancing all the Pieces</h2>
      <p>The Department of Doing acts as a connector, enabling new business owners to identify and source necessary vendors, partners, and services needed to open. It checks in on a yearly basis to connect to local growth opportunities and ongoing support</p>
      <marquee><button [routerLink]="'/steps/1'">Get Started</button></marquee>

  </article>
  <aside>
    <img src="../../../images/image-landing.png" [routerLink]="'/steps/1'">
    <hr />
  </aside>
</div>
