<section class="bp-list-container">
    <div class="row">
        <div class="col-md-4 selected-business-category-column">
            <div class="bp-list-category-header">REFINE YOUR RESULTS</div>
            <div  class="bp-list-category-subheader">Filter by Category</div>
            <ul class="list-group">
                <li class="list-group-item bp-category-row" *ngFor="let businessCategory of finalBusinessCategories" (click)="onSelect(businessCategory)" [class.selected]="businessCategory === selectedbusinessCategory">
                    {{businessCategory.name}}
                </li>
                <div *ngIf="selectedbusinessCategory">
                    <ul class="bp-list-types">
                        <li *ngFor="let businessType of selectedbusinessCategory.businessTypes">
                            <div>{{businessType.business_type | uppercase}}</div>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="col-md-8 selected-business-types-permits-column" *ngIf="selectedbusinessCategory">
            <div class="bp-list-permits-header">PERMITS</div>
            <div>
                <h2 [@flyInOut]="selectedbusinessCategory">
                    {{selectedbusinessCategory.name | uppercase}}
                </h2>
                <div class="business-type" *ngFor="let businessType of selectedbusinessCategory.businessTypes" [@flyInOut]="selectedbusinessCategory">
                    <div class="business-type-values" (click)="businessType.collapsed = !businessType.collapsed">
                        <span class="business-type-title" [ngClass]="{collapsed: businessType.collapsed}">{{businessType.business_type | uppercase}}</span>
                    </div>
                    <div *ngIf="!businessType.collapsed" [@collapse]>
                        <div class="permit" *ngFor="let permit of businessType.permits">
                            <a href="index.html" class="permit-name">{{permit.friendly_name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
