.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

}
.bp-list-container {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: block;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
.next-step-container {
    padding-top: 20px;
}
.bp-list-type-header {
    border-bottom: 2px solid #5A5A5A;
    color: #5A5A5A;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 15px;
    padding-right: 15px;
    width: 95%;
}

.bp-list-type-header + div p {
    margin-top: 12px;
}

.bp-list-type-subheader {
    padding-top: 12px;
    font-size: 1.2em;
    font-weight: 700;
}
.bp-list-permits-header {
    border-bottom: 1px solid #A8ACB8;
    font-weight: 400;
    font-size: 1.2em;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.bp-list-type-title{
    color: #2d6ae2 !important;
}

.bp-list-types-text.selected {
    font-weight: bold;
    list-style-type:disc;
    color: #2d6ae2 !important;
}
.bp-list-types-text:hover {
    color: #2d6ae2 !important;
    cursor: pointer;
}
.h2 {
    text-align: center;
}
.bp-types-permits{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px 15px 5px;
}
.bp-business-type {
    padding-bottom: 10px;
}
.business-type-values {
    font-weight: 700;
    font-size: 1.1em;
    color: #2d6ae2;
}
.bp-permit {
    border-bottom: 1px solid #A8ACB8;
    padding-top: 15px;
    padding-bottom: 30px;
}
.bp-permit.last {
    border: none;
}
.bp-permit-info-holder {
    width: calc(100% - 75px); /* 75px is width of two icons (35 + 35) plus margin between them (5) */
}
.bp-permit-icons-holder {
    display: flex;
}
.bp-permit-name, a.bp-permit-name:link, a.bp-permit-name:visited {
    color: #326DDF;
    font-weight: bold;
    text-transform: uppercase;
}
a.bp-permit-name {
  text-decoration: underline;
}
.bp-list-types {
    z-index: 2;
    list-style-type: circle;
    background-color: transparent;
    color: #3a3939;
    font-size: 1rem;
}
.bp-list-types-text {
    margin-left: -6px;
}
.permit-url{
    text-decoration:underline;
}

.business-type-title::after {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -3px;
    right: -15px;
    font-family: "FontAwesome";
    content: '\f107';
    color: #7b7b7b;
}
.business-type-title {
    position: relative;
}
.business-type-title.collapsed::after {
    cursor: pointer;
    content: '\f105';
}
.bp-permit-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    padding: 5px;
    background-color: #DCDCDC;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.bp-permit-icon.download {
    padding: 7px;
}
.bp-permit-icon:hover {
    text-decoration: none;
}
.bp-permit-icon svg {
    width: 100%;
    height: 100%;
    fill: #326DDF;
}
.bp-permit-component {
    display: flex;
}
.next-step {
    color: #5A5A5A;
}
.book-button {
    margin-top: 20px;
    padding: 20px;
    display: inline-block;
    border-radius: 3px;
    background-color: white;
    border: 2px solid;
    color: #2D6AE2;
    font-weight: bold;
    font-size: 14px;
}
.book-button:hover {
    background-color: #2D6AE2;
    border: #2D6AE2 2px solid;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
