.bp-list-container {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.bp-list-category-header {
    border-bottom: 2px solid black;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 15px;
    padding-right: 15px;
    width: 95%;
}
.bp-list-category-subheader {
    padding-top: 12px;
    font-size: 1.2em;
    font-weight: 700;
}
.bp-list-permits-header {
    border-bottom: 2px solid black;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 10px;
    padding-right: 15px;
}
.selected {
    background-color: #04B0FA !important;
    color: white;
}
.h2 {
    text-align: center;
}
.selected-business-category-column .ul {
    list-style-type: none;
    margin-right: -20px;
}
.bp-category-row {
    font-size: 1rem;
    padding: 4px;
    width: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: black;
}
.bp-category-row:after {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 10px;
    top: 11px;
    font-family: "FontAwesome";
    content: '\f105';
    color: #7b7b7b;
}

.bp-category-row 
.selected-business-types-permits-column {
    background-color: white;
    /*border: 1px outset white;*/
    /*box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);*/
    
    padding: 5px 5px 15px 5px;
    /*margin-top: 15px;*/
    position: relative;
}
.business-type {} .business-type-values {
    border-top: 1px solid gray;
    font-weight: 700;
    font-size: 1.1em;
    color: #2d6ae2;
}
.permit {} .permit-name {
    color: gray;
}
.bp-list-types {
    list-style-type: none;
}
