.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

}
.bp-list-container {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: block;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
.bp-list-category-header {
    border-bottom: 2px solid black;
    font-weight: 700;
    font-size: 1.1rem;
    padding-top: 15px;
    padding-right: 15px;
    width: 95%;
}
.bp-list-category-subheader {
    padding-top: 12px;
    font-size: 1.2em;
    font-weight: 700;
}
.bp-list-permits-header {
    border-bottom: 2px solid black;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 10px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.bp-list-category-title{
    color: #2d6ae2 !important;

}
.bp-category-title-icon{
    content: "\f04e";
    font-family: "FontAwesome";

}

.bp-category-row.selected{
    color: #2d6ae2 !important;
    color: white;
}
.bp-list-types-text.selected {
    font-weight: bold;
    list-style-type:disc;
    color: #2d6ae2 !important;
}
.bp-category-row:hover{
    color: #2d6ae2 !important;
}
.bp-list-types-text:hover {
    color: #2d6ae2 !important;
    cursor: pointer;
}
.h2 {
    text-align: center;
}
.selected-business-category-column{
    overflow-y: auto;
    max-height: 1000px;
}
.selected-business-category-column .ul {
    list-style-type: none;
    margin-right: -20px;
}
.bp-category-row {
    z-index: 1;
    border:none;
    font-size: 1.2rem;
    padding: 4px 4px 4px 4px;
    width: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #3a3939;
}
.bp-category-name{
    display: inline;
    font-weight:500;
    font-family: 'Source Sans Pro Semibold', sans-serif;
}
.bp-types-permits{
    overflow-y: auto;
    overflow-x: hidden;
    height: 1000px;
    padding: 5px 5px 15px 5px;
}
.bp-business-type {
    padding-bottom: 10px;
}
.business-type-values {
    padding-top: 10px;
    border-top: 1px solid gray;
    font-weight: 700;
    font-size: 1.1em;
    color: #2d6ae2;
}
.bp-permit {}
.bp-permit-name {
    color: gray;
}
.bp-list-types {
    z-index: 2;
    list-style-type: circle;
    background-color: transparent;
    color: #3a3939;
    font-size: 1rem;
}
.bp-list-types-text {
    margin-left: -6px;
}
.bp-category-title-icon{
    color: #2d6ae2;
    padding-left: 10%;
    font-size: 1.3rem;
}
.bp-category-icon.fa-chevron-right:before {
    font-size: .9rem;
    color: #3a3939;
}
.permit-url{
    text-decoration:underline;
}

.business-type-title::after {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -3px;
    right: -15px;
    font-family: "FontAwesome";
    content: '\f107';
    color: #7b7b7b;
}
.business-type-title {
    cursor: pointer;
    position: relative;
}
.business-type-title.collapsed::after {
    cursor: pointer;
    content: '\f105';
}
