.navigation-header {
    background: linear-gradient(90deg, #fdcd07 50%, #eb462c 50%);
}
.permit-header {
    background-image: url(../../images/image-bg.png);
    background-position: 50% 40%;
}
.header-logo {
    float: left;
    position: relative;
    left: -15px;
    top: 5px;
}
.search-explainer {
    padding-top: 50px;
}

.navbar-nav .nav-link {
    padding-bottom: 2px;
}
.nav-active {
    background-color: #483D8B !important;
}
.navbar-nav .nav-item+.nav-item {
    margin-left: 0px;
}
.navbar-nav .nav-item.pull-right {
    float: right;
}
.navbar-nav .nav-item {
    cursor: pointer;
}
.page-header, .bp-header {
    margin: 0;
    padding: 0px 0px 20px 0px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.bp-nav {
    height: 89px;
    padding-top: 0px;
    border: 0px;
    width: 90%;
    margin: 0 auto;
}
.bp-nav-container {
    padding-left: 20px;
    padding-right: 20px;
}
.bp-nav-hr {
    border-top: 1.5px solid #eee;
    position: relative;
    top: -30px;
    width: 100%;
    z-index: -1;
}
.bp-navlink {
    background-color: transparent;
    font-weight: 600;
    font-size: 1.1rem;
    color: white !important;
}
.bp-navlink:hover {
    background-color: transparent;
}
.bp-navlink-text {
    margin:0;
}
.bp-header-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 450px;
}
.bp-brand {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0rem;
}
.bp-search {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
.bp-search-input {
    height: 50px;
}
.input-group {
    margin-bottom: 20px;
}
.icon-center {
    padding-top: 10px;
    color: white;
    text-align: center;
}
button.bp-search-btn {
    border-left: none;
}
