<article class="step-article" *ngIf="stepNum == 2">
    <h1 class="title">Research and Plan Your Business</h1>
    <p class="step-text">
        Description of the general gist of the section. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <aside class="side-figure">
        <img class="figure" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
        <p class="caption">Caption for that fine figure</p>
    </aside>
    <h2 class="section">Sub Header</h2>
    <p class="step-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p class="step-text">
        <a target="_blank" href="http://www.business.gov/start/business-plan.html">http://www.business.gov/start/business-plan.html</a>
        Craft a business plan as a blueprint, serving as your guide to grow your idea into a successful business venture. It will allow you to think through your business concept and determine if it is really a good opportunity.
    </p>
</article>
<article class="step-article" *ngIf="stepNum == 2">
    <h1 class="title">Get Business Assitance and Training</h1>
    <ul>
        <li>Connect with local and national resources for assistance and training to help you implement your business plan. <a target="_blank" href="http://www.business.gov/start/assistance.html">http://www.business.gov/start/assistance.html</a> 
        Local </li>
        <li>City of Gainesville Business Opportunities &amp; Resources - <a target="_blank" href="http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/BusinessOpportunitiesResources.aspx">http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/BusinessOpportunitiesResources.aspx</a> </li>
        <li>Santa Fe College Gainesville Technology Entrepreneurship Center - <a target="_blank" href="http://www.sfcollege.edu/cied/incubator/index.php?section=gtec">http://www.sfcollege.edu/cied/incubator/index.php?section=gtec</a> </li>
        <li>Santa Fe Center for Innovation &amp; Economic Development - <a target="_blank" href="http://www.sfcollege.edu/cied/">http://www.sfcollege.edu/cied/</a> </li>
        <li>University of Florida Center for Entrepreneurship &amp; Innovation - <a target="_blank" href="http://www.cei.ufl.edu/">http://www.cei.ufl.edu/</a> </li>
        <li>Gainesville Area Innovation Network (GAIN) - <a target="_blank" href="http://gainnet.org/">http://gainnet.org/</a> </li>
        <li>Networking group </li>
        <li>Gainesville Area Chamber of Commerce and Council for Economic Outreach – www.gainesvillechamber.com  – Business Assistance and Incentives </li>
        <li>Local SCORE and SBDC Offices - <a target="_blank" href="https://northcentralflorida.score.org/">https://northcentralflorida.score.org/</a>, <a target="_blank" href="https://www.sbdc.unf.edu/about-the-sbdc/">https://www.sbdc.unf.edu/about-the-sbdc/</a> </li>
        <li>UF - Small Business and Vendor Diversity Relations -  <a target="_blank" href="https://sbvdr.admin.ufl.edu/">https://sbvdr.admin.ufl.edu/</a> </li>
        <li>Alachua County -  Small Business Program <a target="_blank" href="http://alachuacounty.us/Depts/EO/SmallBusiness/Pages/SmallBusinessProgram.aspx">http://alachuacounty.us/Depts/EO/SmallBusiness/Pages/SmallBusinessProgram.aspx</a> 
        State 
            <ul>
                <li>Division of Corporations </li>
                <li>FL Department of Revenue </li>
                <li>Health &amp; Rehab Services </li>
                <li>Department of Children &amp; Families </li>
                <li>Florida Institute for Commercialization of Public Research </li>
                <li>National: </li>
            </ul>
        </li>
        <li>America’s Small Business Development Center - <a target="_blank" href="http://www.smallbusinessdevelopmentcenter.com/">http://www.smallbusinessdevelopmentcenter.com/</a></li>
        <li>U.S. Small Business Administration’s SCORE - <a target="_blank" href="https://www.score.org/">https://www.score.org/</a></li>
    </ul>
</article>
<article class="step-article" *ngIf="stepNum == 6">
    <h1 class="title">Choose a Business Location</h1>
    <p class="step-text">
        <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=4e5bf13c90bf406da07444ecbbd58cb2">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=4e5bf13c90bf406da07444ecbbd58cb2</a>
        Identify a location for your business.  Will you work out of your home or will you need to purchase or lease a facility?  What type of space will you need - lab space, office space, warehouse, retail?  Where is the best location?
    </p>

    <ul>
        <li>Enterprise Zone Incentive Area - <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=0a0a533b105040819877c82cbe5a091d">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=0a0a533b105040819877c82cbe5a091d</a></li>
        <li>Innovation Zone Map - <a target="_blank" href="https://www.cityofgainesville.org/Portals/0/ecod/ecodev_InnovationZone.pdf">https://www.cityofgainesville.org/Portals/0/ecod/ecodev_InnovationZone.pdf</a></li>
        <li>Community Redevelopment Agency (CRA) Districts - <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=16d0c412c1ec41c2a150e1a65b0305c2">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=16d0c412c1ec41c2a150e1a65b0305c2</a></li>
        <li>CRA Incentives - <a target="_blank" href="http://www.gainesvillecra.com/community-initiative/grant-programs">http://www.gainesvillecra.com/community-initiative/grant-programs</a></li>
        <li>Add HubZone information - <a target="_blank" href="https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps">https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps</a></li>
    </ul>

    <p class="step-text">
        <a target="_blank" href="http://www.cityofgainesville.org/EconomicDevelopmentandInnovation/BusinessIncentives.aspx">BusinessIncentives.aspx</a>
    </p>
</article>
<article class="step-article" *ngIf="stepNum == 3">
    <h1 class="title">Finance Your Business</h1>
    <p class="step-text">
        <a target="_blank" href="https://business.usa.gov/access-financing">https://business.usa.gov/access-financing</a> Federal, state and local governments offer a wide range of financing programs to help small business start and grow.
    </p>
    <ul>
        <li>U.S. Small Business Administration Loan Programs - <a target="_blank" href="https://business.usa.gov/access-financing">https://business.usa.gov/access-financing</a></li>
        <li>Department of Economic Opportunity Loan – www.floridajobs.org  - 850-717-8479</li>
    </ul>
</article>
<article class="step-article" *ngIf="stepNum == 4">
    <h1 class="title">Determine the Legal Structure of Your Business</h1>
    <p class="step-text">
        <a target="_blank" href="http://dos.myflorida.com/sunbiz/start-business/corporate-structure/">corporate-structure</a> Prior to launching, decide what form of business entity to establish.
    </p>
</article>
<article class="step-article" *ngIf="stepNum == 5">
    <h1 class="title">Register a Business Name (DBA)</h1>
    <p class="step-text">
        <a target="_blank" href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/#FicNameFAQ">http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/#FicNameFAQ</a> Whether operating as an individual or business entity, register your “fictitious name” or “dba” name with the Florida Department of State prior to conducting business.
    </p>
</article>
<article class="step-article" *ngIf="stepNum == 11">
    <h1 class="title">Apply for an Employer Identification Number</h1>
    <p class="step-text">
        <a target="_blank" href="https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online">https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online</a> Employer Identification Numbers are issued by the IRS for the purpose of tax administration.
    </p>
</article>
<article class="step-article" *ngIf="stepNum == 11">
    <h1 class="title">Register for State and Local Taxes</h1>
    City of Gainesville Business Tax - <a target="_blank" href="https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx">https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx</a>
    <ul>
        <li>Alachua County Local Business Tax - <a target="_blank" href="http://www.alachuacollector.com/local-business-tax/">http://www.alachuacollector.com/local-business-tax/</a></li>
        <li>State Sales Tax - <a target="_blank" href="http://floridarevenue.com/dor/businesses/">http://floridarevenue.com/dor/businesses/</a></li>
        <li>Federal Tax - <a target="_blank" href="https://www.irs.gov/businesses/">https://www.irs.gov/businesses/</a></li>
        <li>501(c)3 Exemption - <a target="_blank" href="https://www.irs.gov/charities-non-profits/application-for-recognition-of-exemption">https://www.irs.gov/charities-non-profits/application-for-recognition-of-exemption</a>
        </li>
    </ul>
</article>
<!-- step 9 is the permit locator and not a static page -->
<article class="step-article" *ngIf="stepNum == 10">
    <h1 class="title">Employer Responsibilities</h1>
    <p class="step-text">
        <a target="_blank" href="https://www.employflorida.com/vosnet/Default.aspx">https://www.employflorida.com/vosnet/Default.aspx</a> Understand the legal steps you need to take to hire employees.
    </p>
</article>
<article class="step-article" *ngIf="stepNum == 11">
    <h1 class="title">Connect with Gainesville Regional Utilities</h1>
    <p class="step-text">
        <a target="_blank" href="https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx">https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx</a>
    </p>
</article>
