<article *ngIf="stepNum == 1">
    <h1>Research and Plan Your Business</h1>
    <a target="_blank" href="http://www.business.gov/start/business-plan.html">http://www.business.gov/start/business-plan.html</a>
    <p>
        Craft a business plan as a blueprint, serving as your guide to grow your idea into a successful business venture. It will allow you to think through your business concept and determine if it is really a good opportunity.
    </p>
</article>
<article *ngIf="stepNum == 2">
    <h1>Get Business Assitance and Training</h1>
●      Connect with local and national resources for assistance and training to help you implement your business plan. <a target="_blank" href="http://www.business.gov/start/assistance.html">http://www.business.gov/start/assistance.html</a> <br>
Local <br>
●      City of Gainesville Business Opportunities &amp; Resources - <a target="_blank" href="http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/BusinessOpportunitiesResources.aspx">http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/BusinessOpportunitiesResources.aspx</a> <br>
●      Santa Fe College Gainesville Technology Entrepreneurship Center - <a target="_blank" href="http://www.sfcollege.edu/cied/incubator/index.php?section=gtec">http://www.sfcollege.edu/cied/incubator/index.php?section=gtec</a> <br>
●      Santa Fe Center for Innovation &amp; Economic Development - <a target="_blank" href="http://www.sfcollege.edu/cied/">http://www.sfcollege.edu/cied/</a> <br>
●      University of Florida Center for Entrepreneurship &amp; Innovation - <a target="_blank" href="http://www.cei.ufl.edu/">http://www.cei.ufl.edu/</a> <br>
●      Gainesville Area Innovation Network (GAIN) - <a target="_blank" href="http://gainnet.org/">http://gainnet.org/</a> <br>
○      Networking group <br>
●      Gainesville Area Chamber of Commerce and Council for Economic Outreach – www.gainesvillechamber.com  – Business Assistance and Incentives <br>
●      Local SCORE and SBDC Offices - <a target="_blank" href="https://northcentralflorida.score.org/">https://northcentralflorida.score.org/</a>, <a target="_blank" href="https://www.sbdc.unf.edu/about-the-sbdc/">https://www.sbdc.unf.edu/about-the-sbdc/</a> <br>
●      UF - Small Business and Vendor Diversity Relations -  <a target="_blank" href="https://sbvdr.admin.ufl.edu/">https://sbvdr.admin.ufl.edu/</a> <br>
●      Alachua County -  Small Business Program <a target="_blank" href="http://alachuacounty.us/Depts/EO/SmallBusiness/Pages/SmallBusinessProgram.aspx">http://alachuacounty.us/Depts/EO/SmallBusiness/Pages/SmallBusinessProgram.aspx</a> <br>
State <br>
·         Division of Corporations <br>
·         FL Department of Revenue <br>
·         Health &amp; Rehab Services <br>
·         Department of Children &amp; Families <br>
·         Florida Institute for Commercialization of Public Research <br>
National: <br>
●      America’s Small Business Development Center - <a target="_blank" href="http://www.smallbusinessdevelopmentcenter.com/">http://www.smallbusinessdevelopmentcenter.com/</a> <br>
●      U.S. Small Business Administration’s SCORE - <a target="_blank" href="https://www.score.org/">https://www.score.org/</a> <br>
</article>
<article *ngIf="stepNum == 3">
    <h1>Choose a Business Location</h1>
    <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=4e5bf13c90bf406da07444ecbbd58cb2">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=4e5bf13c90bf406da07444ecbbd58cb2</a> <br>
Identify a location for your business.  Will you work out of your home or will you need to purchase or lease a facility?  What type of space will you need - lab space, office space, warehouse, retail?  Where is the best location? <br>
●      Enterprise Zone Incentive Area - <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=0a0a533b105040819877c82cbe5a091d">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=0a0a533b105040819877c82cbe5a091d</a> <br>
●      Innovation Zone Map - <a target="_blank" href="https://www.cityofgainesville.org/Portals/0/ecod/ecodev_InnovationZone.pdf">https://www.cityofgainesville.org/Portals/0/ecod/ecodev_InnovationZone.pdf</a> <br>
●      Community Redevelopment Agency (CRA) Districts - <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=16d0c412c1ec41c2a150e1a65b0305c2">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=16d0c412c1ec41c2a150e1a65b0305c2</a> <br>
●      CRA Incentives - <a target="_blank" href="http://www.gainesvillecra.com/community-initiative/grant-programs">http://www.gainesvillecra.com/community-initiative/grant-programs</a> <br>
●      Add HubZone information - <a target="_blank" href="https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps">https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps</a> <br>

<a target="_blank" href="http://www.cityofgainesville.org/EconomicDevelopmentandInnovation/BusinessIncentives.aspx">http://www.cityofgainesville.org/EconomicDevelopmentandInnovation/BusinessIncentives.aspx</a> <br>
</article>
<article *ngIf="stepNum == 4">
    <h1>Finance Your Business</h1>
    <a target="_blank" href="https://business.usa.gov/access-financing">https://business.usa.gov/access-financing</a> <br>
Federal, state and local governments offer a wide range of financing programs to help small business start and grow. <br>
●      U.S. Small Business Administration Loan Programs - <a target="_blank" href="https://business.usa.gov/access-financing">https://business.usa.gov/access-financing</a> <br>
● 	Department of Economic Opportunity Loan – www.floridajobs.org  - 850-717-8479 <br>
</article>
<article *ngIf="stepNum == 5">
    <h1>Determine the Legal Structure of Your Business</h1>
    <a target="_blank" href="http://dos.myflorida.com/sunbiz/start-business/corporate-structure/">http://dos.myflorida.com/sunbiz/start-business/corporate-structure/</a> <br>
    Prior to launching, decide what form of business entity to establish. <br>
</article>
<article *ngIf="stepNum == 6">
    <h1>Register a Business Name (DBA)</h1>
    <a target="_blank" href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/#FicNameFAQ">http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/#FicNameFAQ</a> <br>
Whether operating as an individual or business entity, register your “fictitious name” or “dba” name with the Florida Department of State prior to conducting business. <br>
</article>
<article *ngIf="stepNum == 7">
    <h1>Apply for an Employer Identification Number</h1>
    <a target="_blank" href="https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online">https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online</a> <br>
Employer Identification Numbers are issued by the IRS for the purpose of tax administration. <br>
</article>
<article *ngIf="stepNum == 8">
    <h1>Register for State and Local Taxes</h1>
    City of Gainesville Business Tax - <a target="_blank" href="https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx">https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx</a> <br>
    ●      Alachua County Local Business Tax - <a target="_blank" href="http://www.alachuacollector.com/local-business-tax/">http://www.alachuacollector.com/local-business-tax/</a> <br>
    ●      State Sales Tax - <a target="_blank" href="http://floridarevenue.com/dor/businesses/">http://floridarevenue.com/dor/businesses/</a> <br>
    ●      Federal Tax - <a target="_blank" href="https://www.irs.gov/businesses/">https://www.irs.gov/businesses/</a> <br>
    ●      501(c)3 Exemption - <a target="_blank" href="https://www.irs.gov/charities-non-profits/application-for-recognition-of-exemption">https://www.irs.gov/charities-non-profits/application-for-recognition-of-exemption</a> <br>
</article>
<!-- step 9 is the permit locator and not a static page -->
<article *ngIf="stepNum == 10">
    <h1>Employer Responsibilities</h1>
    <a target="_blank" href="https://www.employflorida.com/vosnet/Default.aspx">https://www.employflorida.com/vosnet/Default.aspx</a> <br>
    Understand the legal steps you need to take to hire employees. <br>
</article>
<article *ngIf="stepNum == 11">
    <h1>Connect with Gainesville Regional Utilities</h1>
    <a target="_blank" href="https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx">https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx</a> <br>
</article>
