<article *ngIf="stepNum == 1">
    <h1>Research and Plan Your Business</h1>
    <a href="http://www.business.gov/start/business-plan.html">http://www.business.gov/start/business-plan.html</a>
    <p>
        Craft a business plan as a blueprint, serving as your guide to grow your idea into a successful business venture. It will allow you to think through your business concept and determine if it is really a good opportunity.
    </p>
</article>
<article *ngIf="stepNum == 2">
    <h1>Get Business Assitance and Training</h1>
    http://www.business.gov/start/assistance.html
Connect with local and national resources for assistance and training to help you implement your business plan.
Local:
●      City of Gainesville Business Opportunities &amp; Resources - http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/BusinessOpportunitiesResources.aspx
●      Santa Fe College Gainesville Technology Entrepreneurship Center - http://www.sfcollege.edu/cied/incubator/index.php?section=gtec
●      Santa Fe Center for Innovation &amp; Economic Development - http://www.sfcollege.edu/cied/
●      University of Florida Center for Entrepreneurship &amp; Innovation - http://www.cei.ufl.edu/
●      Gainesville Area Innovation Network (GAIN) - http://gainnet.org/
○      Networking group
●      Gainesville Area Chamber of Commerce and Council for Economic Outreach – www.gainesvillechamber.com  – Business Assistance and Incentives
●      Local SCORE and SBDC Offices - https://northcentralflorida.score.org/, https://www.sbdc.unf.edu/about-the-sbdc/
●       
●       
●      UF - Small Business and Vendor Diversity Relations -  https://sbvdr.admin.ufl.edu/
●      Alachua County -  Small Business Program http://alachuacounty.us/Depts/EO/SmallBusiness/Pages/SmallBusinessProgram.aspx
●       
State
·         Division of Corporations
·         FL Department of Revenue
·         Health &amp; Rehab Services
·         Department of Children &amp; Families
·         Florida Institute for Commercialization of Public Research
National:
●      America’s Small Business Development Center - http://www.smallbusinessdevelopmentcenter.com/
●      U.S. Small Business Administration’s SCORE - https://www.score.org/
</article>
<article *ngIf="stepNum == 3">
    <h1>Choose a Business Location</h1>
    http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=4e5bf13c90bf406da07444ecbbd58cb2
Identify a location for your business.  Will you work out of your home or will you need to purchase or lease a facility?  What type of space will you need - lab space, office space, warehouse, retail?  Where is the best location?
●      Enterprise Zone Incentive Area - http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=0a0a533b105040819877c82cbe5a091d
●      Innovation Zone Map - https://www.cityofgainesville.org/Portals/0/ecod/ecodev_InnovationZone.pdf
●      Community Redevelopment Agency (CRA) Districts - http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=16d0c412c1ec41c2a150e1a65b0305c2
●      CRA Incentives - http://www.gainesvillecra.com/community-initiative/grant-programs
●      Add HubZone information - https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps
 
http://www.cityofgainesville.org/EconomicDevelopmentandInnovation/BusinessIncentives.aspx
</article>
<article *ngIf="stepNum == 4">
    <h1>Finance Your Business</h1>
    https://business.usa.gov/access-financing
Federal, state and local governments offer a wide range of financing programs to help small business start and grow.
●      U.S. Small Business Administration Loan Programs - https://business.usa.gov/access-financing
● 	Department of Economic Opportunity Loan – www.floridajobs.org  - 850-717-8479
●
</article>
<article *ngIf="stepNum == 5">
    <h1>Determine the Legal Structure of Your Business</h1>
    http://dos.myflorida.com/sunbiz/start-business/corporate-structure/
    Prior to launching, decide what form of business entity to establish.
</article>
<article *ngIf="stepNum == 6">
    <h1>Register a Business Name (DBA)</h1>
    http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/#FicNameFAQ
Whether operating as an individual or business entity, register your “fictitious name” or “dba” name with the Florida Department of State prior to conducting business.
</article>
<article *ngIf="stepNum == 7">
    <h1>Apply for an Employer Identification Number</h1>
    https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online
Employer Identification Numbers are issued by the IRS for the purpose of tax administration.
</article>
<article *ngIf="stepNum == 8">
    <h1>Register for State and Local Taxes</h1>
    City of Gainesville Business Tax - https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx
●      Alachua County Local Business Tax - http://www.alachuacollector.com/local-business-tax/
●      State Sales Tax - http://floridarevenue.com/dor/businesses/
●      Federal Tax - https://www.irs.gov/businesses/
●      501(c)3 Exemption - https://www.irs.gov/charities-non-profits/application-for-recognition-of-exemption
</article>
<!-- step 9 is the permit locator and not a static page -->
<article *ngIf="stepNum == 10">
    <h1>Employer Responsibilities</h1>
    https://www.employflorida.com/vosnet/Default.aspx
    Understand the legal steps you need to take to hire employees.
</article>
<article *ngIf="stepNum == 11">
    <h1>Connect with Gainesville Regional Utilities</h1>
    <a href="https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx">https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx</a>
</article>
