<article class="step-article">
  <h1 class="title">LEGALIZE</h1>
  <p class="step-text"><i>
    Preparing for launch requires formalizing your ideas into structure. Click below for local, state and federal resources to legalize and start doing business.
  </i></p>
  <ul>
    <li>
      <h3>Identify Your Business Structure</h3>
      <p class="step-text">
        Decide on a <a href="http://dos.myflorida.com/sunbiz/start-business/corporate-structure/">structure</a> that meets your individual needs and objectives.
      </p>
      <p class="step-text">
        Here is a helpful resource provided by the SBA for comparing common structures:
      </p>
      <div class="container">
        <table class="structure-table table-bordered">
          <thead>
            <tr>
              <th>Business structure</th>
              <th>Ownership</th>
              <th>Liability</th>
              <th>Taxes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sole proprietorship</td>
              <td>One person</td>
              <td>Unlimited personal liability</td>
              <td>
                <ul>
                  <li>Personal tax only</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Partnerships</td>
              <td>One person</td>
              <td>Unlimited personal liability</td>
              <td>
                <ul>
                  <li>Self-employment tax (except for limited partners)</li>
                  <li>Personal tax</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Limited liability company (LLC)</td>
              <td>One or more people</td>
              <td>Owners are not personally liable</td>
              <td>
                <ul>
                  <li>Self-employment tax</li>
                  <li>Personal tax or corporate tax</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Corporation - C corp</td>
              <td>One or more people</td>
              <td>Owners are not personally liable</td>
              <td>
                <ul>
                  <li>Corporate tax</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Corporation - S corp</td>
              <td>One or more people, but no more than 100, and all must be U.S. citizens</td>
              <td>Owners are not personally liable</td>
              <td>
                <ul>
                  <li>Personal tax</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Corporation - B corp</td>
              <td>One or more people</td>
              <td>Owners are not personally liable</td>
              <td>
                <ul>
                  <li>Corporate tax</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Corporation - Nonprofit</td>
              <td>One or more people</td>
              <td>Owners are not personally liable</td>
              <td>
                <ul>
                  <li>Tax-exempt, but corporate profits can't be distributed</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <h3>Form Your Business</h3>
      <ul>
        <li>
          <b>Form a Florida Profit or Non-Profit Corporation</b>
          <ul>
            <li>
              <a href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-profit-corporation/">Profit Articles of Incorporation</a>
            </li>
            <li>
              <a href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-nonprofit-corporation/">Non-Profit Articles of Incorporation</a>
            </li>
          </ul>
        </li>
        <li>
          <b>Form a Florida Limited Liability Company</b>
          <ul>
            <li>
              <a href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-llc/">LLC Articles of Organization</a>
            </li>
          </ul>
        </li>
        <li>
          <b>Form a Partnership</b>
          <ul>
            <li>
              <a href="http://dos.myflorida.com/sunbiz/forms/partnerships/">General Partnership, Florida Limited Partnership, or Foreign Limited Partnership</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <h3>Register Your Business</h3>
      <ul>
        <li>
          <p class="step-text">
            In selecting your business name, you may need a trademark or service mark (http://dos.myflorida.com/sunbiz/forms/trademark-and-service-mark/), or a fictitious name (also known as a “doing business as” or “dba”) (http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/).
          </p>
        </li>
        <li>
          <p class="step-text">
            A Fictitious Name Registration (https://efile.sunbiz.org/ficregintro.html) in Florida is not required for an individual’s legal name, or for the name of a corporation, limited liability company or limited partnership.
          </p>
        </li>
        <li>
          <p class="step-text">
            Obtain your business license from the City of Gainesville (https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx). 
          </p>
        </li>
        <li>
          <p class="step-text">
            Apply for an federal Employer Identification Number (EIN) with the IRS (https://www.irs.gov/businesses/small-businesses-self-employed/employer-id-numbers).
          </p>
        </li>
        <li>
          <p class="step-text">
            Many businesses in Florida are required to register with the Department of Business & Professional Regulation (http://www.myfloridalicense.com/dbpr/services.html).
          </p>
        </li>
        <li>
          <p class="step-text">
            Workers' Compensation insurance is mandatory for most employers in Florida. Learn more about the requirements (http://www.myfloridacfo.com/division/wc/Employer/default.htm#.WdU6h49SyCg) depending on your unique business.
          </p>
        </li>
        <li>
          <p class="step-text">
            You may be required to register (http://floridarevenue.com/dor/taxes/registration.html) to collect, accrue or send taxes or fees in Florida.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</article>