<article class="step-article">
  <h1 class="title">DREAM</h1>
  <p class="step-text"><i>
    Do you have a dream, a big idea? We are here to help jumpstart your journey and launch your idea into a successful business venture.
  </i></p>
  <h3>Business Journey Map</h3>
  <p class="step-text">
    Every business takes a journey. The Business Journey Map is intended to be a helpful guide to navigating the steps in the process to launching your dream into reality.
  </p>
  <ul>
    <li><b>Start</b><br>
    <i>Start</i> is for the dreamers and planners, interested in jumpstarting a big idea into a big venture.</li>
    <li><b>Shape</b><br>
    <i>Shape</i> is for the runners in the midst of a race, aiming to successfully manage your venture.</li>
    <li><b>Grow</b><br>
    <i>Grow</i> is for the champions who never accept “good enough,” striving for continued advancement and expansion.</li>
  </ul>
  <p class="step-text">
    We believe in your business and want you to succeed - as much as you do.
  </p>
  <ul>
    <li>Whether you are an entrepreneur, professional or first-timer, we are here to help you connect with local and state information and resources and to navigate a clear path of permitting, zoning and compliance.</li>
    <li>At any step in your journey, connect with us:
      <ul>
        <li>
          <a href="https://form.jotform.com/60775565475165">Schedule a First-Step Appointment</a> with the Department of Doing.
        </li>
        <li>
          Talk with the Economic Development Director, Erik Bredfeldt.
            Telephone: 352-393-8614
            Email: <a href="mailto:bredfeldea@cityofgainesville.org">bredfeldea@cityofgainesville.org</a>
        </li>
        <li>
          <a href="http://www.cityofgainesville.org/PlanningDepartment.aspx">Chat</a> with a City Planner.
        </li>
      </ul>
    </li>
  </ul>
</article>