<header class="navigation-header">
    <nav class="navbar navbar-full bp-nav">
        <div class="nav navbar-nav">
            <img [routerLink]="'/home'" class="header-logo" src="../images/logo--business-portal.svg" width="80" alt="Gainesville Business Portal">
            <div class="bp-navbar-large">
                <li class="nav-item"
                    *ngFor="let route of appRoutes"
                    [ngClass]="route.class"
                    routerLinkActive="nav-active"
                    [routerLink]="route.link">
                    <div class="icon-center"><img aria-hidden="true" class="nav-icon" src={{route.icon}}></div>
                    <a class="nav-link bp-navlink">{{route.name}}</a>
                </li>
            </div>
            <button class="nav-collapse-button" (click)="navbarCollapsed = !navbarCollapsed"
                [attr.aria-expanded]="!navbarCollapsed"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></button>
        </div>
    </nav>
    <div class="navbar-collapse bp-nav bp-nav-menu" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <div class="bp-nav-menu-item" *ngFor="let route of appRoutes"
            [routerLink]="route.link" (click)="onNavClick()" [ngClass]="route.class"
            routerLinkActive="nav-active">
            <div class="icon-left"><img aria-hidden="true" class="nav-icon" src="{{route.icon}}"></div>
            <a class="menu-route">{{route.name}}</a>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="site-footer">
    <div class="footer-wrap">
        <section class="footer-section">
            <h1>About this Site</h1>
            <p>
                The Gainesville Permit Locator is the first part of a series of business
                resources being built by <a href="http://c4gnv.com/">Code for Gainesville</a>, the
                local <a href="https://www.codeforamerica.org/">Code for America</a> brigade. Members of this
                organization donate their time and expertise in order to create tools
                that make government services simple, effective, and easy to use.
                These services are sponsored in part by the <a href="http://www.cityofgainesville.org">City of
                Gainesville</a>.
            </p>
        </section>

        <section class="footer-section footer-section-large">
            <h1>Get Assistance</h1>
            <p>
                Contact the <a href="">Department of Doing</a> of the City of
                Gainesville for more information on starting a business. Here are
                some additional resources on research, planning, and running
                a business:
            </p>
            <ul class="footer-link-list">
                <li>
                    <a href="https://business.usa.gov/">BusinessUSA <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="http://www.sfcollege.edu/cied/"
                       >Center for innovation &amp; Economic Development <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="http://www.sfcollege.edu/cied/incubator/index.php?section=gtec"
                       >Gainesville Technology Entrepreneurship Center <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="http://warrington.ufl.edu/centers/cei/"
                       >Center for Entrepreneurship &amp; Innovation <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="https://www.sba.gov/tools/local-assistance/sbdc"
                       >Small Business Development Center <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="https://www.score.org"
                       >SCORE <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="https://www.cityofgainesville.org/Portals/0/plan/docs/GIS_Enterprise_Zone.pdf"
                       >Gainesville Enterprise Zone Map <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="http://www.cityofgainesville.org/EconomicDevelopmentandInnovation/InnovationEconomy.aspx"
                       >Gainesville Innovation Zone <i class="fa fa-external-link"></i></a>
                </li>
                <li>
                    <a href="https://www.sba.gov/loans-grants/see-what-sba-offers/sba-loan-programs"
                       >SBA Loan Program <i class="fa fa-external-link"></i></a>
                </li>
            </ul>
        </section>

        <section class="footer-section footer-contact">
            <p>
                <a href="https://github.com/c4gnv/business-web/"><i class="fa fa-github fa-2"></i><span class="assistive-text">Source code</span></a>
                <a href="https://github.com/c4gnv/business-web/blob/develop/CONTRIBUTING.md"><i class="fa fa-envelope-o fa-2"></i><span class="assistive-text">Contibuting</span></a>
            </p>
            <p>
                This site is an open source project hosted on <a href="https://github.com/c4gnv/business-web/">Github</a>.
                If you would like to contribute, please read the
                <a href="https://github.com/c4gnv/business-web/blob/develop/CONTRIBUTING.md">contribution guidelines</a>.
            </p>
            <ul class="footer-link-list">
                <li>
                    <a [routerLink]="'/disclaimer'">Disclaimer</a>
                </li>
                <li>
                    <a href="https://data.cityofgainesville.org/privacy" target="_blank">Privacy Policy</a>
                </li>
                <li>
                    <a href="https://data.cityofgainesville.org/accessibility" target="_blank">Accessibility</a>
                </li>
                <li>
                    <a [routerLink]="'/contact'">Contact</a>
                </li>
                <li>
                    <a [routerLink]="'/about'">About</a>
                </li>
            </ul>
            <img src="../images/gnv-city-logo.png" width="200px" alt="Gainesville City Logo">
            <h2>
                #c4gnv
            </h2>
        </section>
    </div>
</footer>
