  <section class="contianer">
    <section *ngIf="isLoading && !errorMessage">
    Retrieving data from data.cityofgainesville.org...
    </section>
      <div class=" business-categories">
          <!-- this is the new syntax for ng-repeat -->
          <div class="row business-category" *ngFor="let businessCategory of finalBusinessCategories">
            {{businessCategory.name}}
            <li class="business-type" *ngFor="let businessType of businessCategory.businessTypes">
                {{businessType.business_type}}
              <ul>
               <li> <a href="url" class="permit" *ngFor="let permit of businessType.permits">
                    {{permit.friendly_name}}
                </a></li>
               </ul>
            </li>
          </div>
          <br>
      </div>
      <section *ngIf="errorMessage">
        {{errorMessage}}
      </section>
 </section>
 