/* Master Styles */
@import './components/search.component.css';
@import './components/businessType-list.component.css';
@import './components/steps/steps.component.css';
@import './components/landing/landing.component.css';
@import './components/contact/contact.component.css';
@import './components/about/about.component.css';
@import './components/disclaimer/disclaimer.component.css';
@import './footer.css';
@import './menu.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
/*@import '../node_modules/font-awesome/css/font-awesome.css';*/

h1 {
  color: #369;
  font-family: 'Work Sans', sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
body {
  /*margin: 2em; */
}
body, input[text], button {
  color: #595959;
  font-family: 'Work Sans', sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: 'Work Sans', sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.stage-blue {
  margin-left: 0px;
  background-color: #5ACAEC;
}
.stage-yellow {
  margin-left: 0px;
  background-color: #FDCD07;
}
.stage-red {
  margin-left: 0px;
  background-color: #EB462C;
}

/* everywhere else */
* {
  font-family: 'Work Sans', sans-serif;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.error{
  padding: 12px;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}

.business-type {
  font-weight: 400;
}

.list-group-item {
  cursor: pointer;
}

.loading-screen {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/*.permit {
   font-style: italic;
}*/

.step-article h2 {
    color: #5A5A5A;
    font-weight: 700;
    font-size: 1.3rem;
    padding-top: 15px;
    padding-right: 15px;
    width: 95%;
}

.step-article h3 {
    color: #5A5A5A;
    font-weight: 300;
    font-size: 1.3rem;
    padding-top: 15px;
    padding-right: 15px;
    width: 95%;
}
