<article class="step-article">
  <h1 class="title">Choose a Business Location</h1>
  <p class="step-text">
    <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=4e5bf13c90bf406da07444ecbbd58cb2">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=4e5bf13c90bf406da07444ecbbd58cb2</a>
    Identify a location for your business.  Will you work out of your home or will you need to purchase or lease a facility?  What type of space will you need - lab space, office space, warehouse, retail?  Where is the best location?
  </p>

  <ul>
    <li>Enterprise Zone Incentive Area - <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=0a0a533b105040819877c82cbe5a091d">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=0a0a533b105040819877c82cbe5a091d</a></li>
    <li>Innovation Zone Map - <a target="_blank" href="https://www.cityofgainesville.org/Portals/0/ecod/ecodev_InnovationZone.pdf">https://www.cityofgainesville.org/Portals/0/ecod/ecodev_InnovationZone.pdf</a></li>
    <li>Community Redevelopment Agency (CRA) Districts - <a target="_blank" href="http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=16d0c412c1ec41c2a150e1a65b0305c2">http://gainesvillefl.maps.arcgis.com/apps/webappviewer/index.html?id=16d0c412c1ec41c2a150e1a65b0305c2</a></li>
    <li>CRA Incentives - <a target="_blank" href="http://www.gainesvillecra.com/community-initiative/grant-programs">http://www.gainesvillecra.com/community-initiative/grant-programs</a></li>
    <li>Add HubZone information - <a target="_blank" href="https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps">https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps</a></li>
  </ul>

  <p class="step-text">
    <a target="_blank" href="http://www.cityofgainesville.org/EconomicDevelopmentandInnovation/BusinessIncentives.aspx">BusinessIncentives.aspx</a>
  </p>
</article>