<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<style type="text/css">
    .st0{display:none;}
    .st1{display:inline;stroke:#E00C02;stroke-width:4;stroke-miterlimit:10;}
    .st2{display:inline;fill:none;stroke:#E00C02;stroke-width:4;stroke-miterlimit:10;}
    .st3{display:inline;}
    .st4{stroke:#E00C02;stroke-width:4;stroke-miterlimit:10;}
</style>
<g class="st0">
    <polyline class="st1" points="56.8,21.8 81.8,21.8 81.8,46.8 	"/>
    <line class="st2" x1="43.8" y1="59.8" x2="81.8" y2="21.8"/>
    <g class="st3">
        <path class="st4" d="M73.8,48.8v32c0,1.7-1.3,3-3,3h-48c-1.6,0-3-1.3-3-3v-48c0-1.6,1.4-3,3-3h32"/>
    </g>
</g>
<g>
    <path d="M83,17v27h-4V23.8L44.4,58.4l-2.8-2.8L76.2,21H56v-4H83z M71,78c0,0.5-0.5,1-1,1H22c-0.5,0-1-0.5-1-1V30c0-0.5,0.5-1,1-1
        h32v-4H22c-2.8,0-5,2.2-5,5v48c0,2.8,2.2,5,5,5h48c2.8,0,5-2.2,5-5V46h-4V78z"/>
</g>
</svg>
