<article class="step-article">
  <h1 class="title">Research and Plan Your Business</h1>
  <p class="step-text">
    Description of the general gist of the section. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <aside class="side-figure">
    <img class="figure" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
    <p class="caption">Caption for that fine figure</p>
  </aside>
  <h2 class="section">Sub Header</h2>
  <p class="step-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <p class="step-text">
    <a target="_blank" href="http://www.business.gov/start/business-plan.html">http://www.business.gov/start/business-plan.html</a>
    Craft a business plan as a blueprint, serving as your guide to grow your idea into a successful business venture. It will allow you to think through your business concept and determine if it is really a good opportunity.
  </p>
</article>
<article class="step-article">
  <h1 class="title">Get Business Assitance and Training</h1>
  <ul>
    <li>Connect with local and national resources for assistance and training to help you implement your business plan. <a target="_blank" href="http://www.business.gov/start/assistance.html">http://www.business.gov/start/assistance.html</a> 
    Local </li>
    <li>City of Gainesville Business Opportunities &amp; Resources - <a target="_blank" href="http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/BusinessOpportunitiesResources.aspx">http://www.cityofgainesville.org/OfficeofEqualOpportunity/SmallBusinessProcurement/BusinessOpportunitiesResources.aspx</a> </li>
    <li>Santa Fe College Gainesville Technology Entrepreneurship Center - <a target="_blank" href="http://www.sfcollege.edu/cied/incubator/index.php?section=gtec">http://www.sfcollege.edu/cied/incubator/index.php?section=gtec</a> </li>
    <li>Santa Fe Center for Innovation &amp; Economic Development - <a target="_blank" href="http://www.sfcollege.edu/cied/">http://www.sfcollege.edu/cied/</a> </li>
    <li>University of Florida Center for Entrepreneurship &amp; Innovation - <a target="_blank" href="http://www.cei.ufl.edu/">http://www.cei.ufl.edu/</a> </li>
    <li>Gainesville Area Innovation Network (GAIN) - <a target="_blank" href="http://gainnet.org/">http://gainnet.org/</a> </li>
    <li>Networking group </li>
    <li>Gainesville Area Chamber of Commerce and Council for Economic Outreach – www.gainesvillechamber.com  – Business Assistance and Incentives </li>
    <li>Local SCORE and SBDC Offices - <a target="_blank" href="https://northcentralflorida.score.org/">https://northcentralflorida.score.org/</a>, <a target="_blank" href="https://www.sbdc.unf.edu/about-the-sbdc/">https://www.sbdc.unf.edu/about-the-sbdc/</a> </li>
    <li>UF - Small Business and Vendor Diversity Relations -  <a target="_blank" href="https://sbvdr.admin.ufl.edu/">https://sbvdr.admin.ufl.edu/</a> </li>
    <li>Alachua County -  Small Business Program <a target="_blank" href="http://alachuacounty.us/Depts/EO/SmallBusiness/Pages/SmallBusinessProgram.aspx">http://alachuacounty.us/Depts/EO/SmallBusiness/Pages/SmallBusinessProgram.aspx</a> 
    State 
      <ul>
        <li>Division of Corporations </li>
        <li>FL Department of Revenue </li>
        <li>Health &amp; Rehab Services </li>
        <li>Department of Children &amp; Families </li>
        <li>Florida Institute for Commercialization of Public Research </li>
        <li>National: </li>
      </ul>
    </li>
    <li>America’s Small Business Development Center - <a target="_blank" href="http://www.smallbusinessdevelopmentcenter.com/">http://www.smallbusinessdevelopmentcenter.com/</a></li>
    <li>U.S. Small Business Administration’s SCORE - <a target="_blank" href="https://www.score.org/">https://www.score.org/</a></li>
</ul>
</article>