<article class="step-article">
  <h1 class="title">Plan</h1>
  <p class="step-text"><i>
    We are excited about your dream. Let us help you plan its realization.
  </i></p>
  <ul>
    <li>
      <h3>Conduct Market Research</h3>
      <p>
        Who and where are your customers and competitors? How will you specialize and gain an advantage? To learn more:
      </p>
      <ul>
        <li>Read about <a href="http://dos.myflorida.com/sunbiz/start-business/know-before-starting/">getting started in Florida</a></li>
        <li>Read the U.S. Small Business Administration’s <a href="https://www.sba.gov/business-guide/plan/market-research-competitive-analysis">Business Guide</a></li>
        <li><a href="https://www.sba.gov/tools/sizeup">“SizeUp”</a> your competition</li>
        <li>Learn from <a href="http://warrington.ufl.edu/centers/cei/resources.asp">resources</a> shared by UF’s Warrington College of Business</li>
        <li><a href="https://data.cityofgainesville.org/">Review local data</a> with the Gainesville Open Data Portal</li>
      </ul>
    </li>
    <li>
      <h3>Write Your Business Plan</h3>
      <p>Develop a written plan, a tool for summarizing and communicating your vision, objectives and strategies to succeed. Helpful for guiding your next steps in launching your dream, a well-crafted business plan can also facilitate support and investment in your idea. Some important content to craft is the:</p>
      <ul>
        <li>
          <i>Executive Summary</i>
          <p>
            Provide the most critical information first. Readers should immediately gain an understanding of what your business is and why it will be successful.
          </p>
        </li>
        <li>
          <i>Introduction</i>
          <p>
            Provide the most critical information first. Readers should immediately gain an understanding of what your business is and why it will be successful.
          </p>
        </li>
        <li>
          <i>Business Description</i>
          <p>
            Describe your product. Discuss its uniqueness and value to the community.
          </p>
        </li>
        <li>
          <i>Market Analysis</i>
          <p>
            Share your research. Present the data and your conclusions about the forces of supply and demand you will encounter.
          </p>
        </li>
        <li>
          <i>Organization and Management</i>
          <p>
            Introduce your team. Define their responsibilities. Fully outline your organization’s current and future structure. Begin with future growth in mind.
          </p>
        </li>
        <li>
          <i>Marketing and Sales</i>
          <p>
            Plan your marketing campaign. Lay out your strategy to persuade consumers to purchase your product.
          </p>
        </li>
        <li>
          <i>Financial Plan and Projections</i>
          <p>
            Show where the funds go. State your current financial status. Project future revenues. Use balance sheets and cash flow statements.
          </p>
        </li>
        <li>
          <i>Supporting Documents</i>
          <p>
            Include additional documents and information that would be helpful in telling your story and soliciting support.
          </p>
        </li>
      </ul>
      <p>
        Utilize the U.S. Small Business Administration’s business plan <a href="https://www.sba.gov/business-guide/plan/write-your-business-plan-template">template</a> as a guide to get started.</p>
    </li>
  </ul>
</article>