<article class="step-article">
  <h1 class="title">BRAND</h1>
  <p class="step-text"><i>
    Your brand is more than a logo; it represents your voice, persona and values. What do you want people to know about your business?
  </i></p>
  <ul>
    <li>
      <h3>Build upon your business plan to develop a marketing strategy.</h3>
      <p class="step-text">What is your competitive advantage and who will you aim to reach? What are your sales, revenue and income goals? Use this to develop your budget for branding, advertising and marketing.</p>
    </li>
    <li>
      <h3>Connect with fellow local businesses who specialize in branding, advertising, and marketing</h3>
    </li>
    <li>
      <h3>Prepare to spread the word.</h3>
      <ul>
        <li>
          <h3>Website</h3>
          <p class="step-text">
            Start crafting your online presence by registering a domain name. Consult a directory of accredited registrars (http://www.internic.net/regist.html) to determine which ones are safe to use.
          </p>
        </li>
        <li>
          <h3>Local Ads</h3>
          <p class="step-text">
            Advertise on local television and radio stations and in local newspapers.
          </p>
        </li>
        <li>
          <h3>Social Media</h3>
          <p class="step-text">
            Social media companies can help you target ads to those most likely to be interested in your product.
          </p>
        </li>
        <li>
          <h3>Word of Mouth</h3>
          <p class="step-text">
            Host events. Network. Get involved in the community. Build goodwill.
            Contact local newspapers for free publicity.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</article>