<article class="step-article">
  <h1 class="title">Register a Business Name (DBA)</h1>
  <p class="step-text">
    <a target="_blank" href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/#FicNameFAQ">http://dos.myflorida.com/sunbiz/start-business/efile/fl-fictitious-name-registration/#FicNameFAQ</a> Whether operating as an individual or business entity, register your “fictitious name” or “dba” name with the Florida Department of State prior to conducting business.
  </p>
</article>