<article class="step-article">
  <h1 class="title">Apply for an Employer Identification Number</h1>
  <p class="step-text">
    <a target="_blank" href="https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online">https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online</a> Employer Identification Numbers are issued by the IRS for the purpose of tax administration.
  </p>
</article>
<article class="step-article">
  <h1 class="title">Register for State and Local Taxes</h1>
  City of Gainesville Business Tax - <a target="_blank" href="https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx">https://eservices1.cityofgainesville.org/BusinessTax/6/Start.aspx</a>
  <ul>
    <li>Alachua County Local Business Tax - <a target="_blank" href="http://www.alachuacollector.com/local-business-tax/">http://www.alachuacollector.com/local-business-tax/</a></li>
    <li>State Sales Tax - <a target="_blank" href="http://floridarevenue.com/dor/businesses/">http://floridarevenue.com/dor/businesses/</a></li>
    <li>Federal Tax - <a target="_blank" href="https://www.irs.gov/businesses/">https://www.irs.gov/businesses/</a></li>
    <li>501(c)3 Exemption - <a target="_blank" href="https://www.irs.gov/charities-non-profits/application-for-recognition-of-exemption">https://www.irs.gov/charities-non-profits/application-for-recognition-of-exemption</a>
    </li>
  </ul>
</article>
<article class="step-article">
  <h1 class="title">Connect with Gainesville Regional Utilities</h1>
  <p class="step-text">
    <a target="_blank" href="https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx">https://www.gru.com/MyHome/YourService/Start,Stop,Move.aspx</a>
  </p>
</article>